<% content_for :title, "My Account" %>
<% content_for :page_title, "My Account" %>
<% content_for :page_subtitle, "Manage your dealer portal profile and password." %>

<div class="row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
    <div class="d-flex justify-content-end mb-4">
      <%= link_to "Back to Purchase Orders", purchase_orders_path, class: "btn btn-outline-secondary" %>
    </div>

    <% if current_user.errors.any? %>
      <div class="alert alert-danger">
        <h2 class="h6">Please fix the following:</h2>
        <ul class="mb-0">
          <% current_user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card shadow-sm mb-4">
      <div class="card-header bg-body">
        <h2 class="h5 mb-0">Profile details</h2>
      </div>
      <div class="card-body">
        <form action="<%= account_path %>" accept-charset="UTF-8" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name="_method" value="patch">

          <div class="row g-3">
            <div class="col-12 col-md-6">
              <label class="form-label" for="user_first_name">First name</label>
              <input class="form-control" autocomplete="given-name" type="text" name="user[first_name]" id="user_first_name" value="<%= current_user.first_name %>">
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="user_last_name">Last name</label>
              <input class="form-control" autocomplete="family-name" type="text" name="user[last_name]" id="user_last_name" value="<%= current_user.last_name %>">
            </div>
            <div class="col-12">
              <label class="form-label" for="user_email">Email</label>
              <input class="form-control" disabled type="email" id="user_email" value="<%= current_user.email %>">
              <div class="form-text">Contact your portal administrator to change your email address.</div>
            </div>
          </div>

          <div class="mt-4">
            <button class="btn btn-primary" type="submit">Save profile</button>
          </div>
        </form>
      </div>
    </div>

    <div class="card shadow-sm">
      <div class="card-header bg-body">
        <h2 class="h5 mb-0">Change password</h2>
      </div>
      <div class="card-body">
        <form action="<%= account_path %>" accept-charset="UTF-8" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name="_method" value="patch">

          <div class="row g-3">
            <div class="col-12">
              <label class="form-label" for="user_current_password">Current password</label>
              <input class="form-control" autocomplete="current-password" type="password" name="user[current_password]" id="user_current_password">
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="user_password">New password</label>
              <input class="form-control" autocomplete="new-password" type="password" name="user[password]" id="user_password">
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="user_password_confirmation">Confirm new password</label>
              <input class="form-control" autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
            </div>
          </div>

          <div class="mt-4">
            <button class="btn btn-primary" type="submit">Update password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
